<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">

    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        
        <url-pattern>/home</url-pattern>
        <url-pattern>/loadSubject</url-pattern>
        <url-pattern>/loadQuestion</url-pattern>
        <url-pattern>/loadAnswer</url-pattern>
        <url-pattern>/quiz</url-pattern>
        <url-pattern>/submit</url-pattern>
        <url-pattern>/result</url-pattern>
        <url-pattern>/showHistory</url-pattern>
        <url-pattern>/history</url-pattern>
        <url-pattern>/detailExam</url-pattern>
        
        <url-pattern>/admin_home</url-pattern>
        <url-pattern>/AddSubject</url-pattern>
        <url-pattern>/deleteSubject</url-pattern>
        <url-pattern>/restoreSubject</url-pattern>
        <url-pattern>/question</url-pattern>
        <url-pattern>/countNumOfPage</url-pattern>
        <url-pattern>/loadQuestionByAdmin</url-pattern>
        <url-pattern>/deleteQuestion</url-pattern>
        <url-pattern>/restoreQuestion</url-pattern>
        <url-pattern>/searchQuestion</url-pattern>
        <url-pattern>/loadQuestionWithSearch</url-pattern>
        <url-pattern>/AddQuestion</url-pattern>
        <url-pattern>/loadDetailQuestion</url-pattern>
        <url-pattern>/saveUpdate</url-pattern>
        
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StudentFilter</filter-name>
        <url-pattern>/loadQuestion</url-pattern>
        <url-pattern>/loadAnswer</url-pattern>
        <url-pattern>/quiz</url-pattern>
        <url-pattern>/submit</url-pattern>
        <url-pattern>/result</url-pattern>
        <url-pattern>/showHistory</url-pattern>
        <url-pattern>/history</url-pattern>
        <url-pattern>/detailExam</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin_home</url-pattern>
        <url-pattern>/AddSubject</url-pattern>
        <url-pattern>/deleteSubject</url-pattern>
        <url-pattern>/restoreSubject</url-pattern>
        <url-pattern>/question</url-pattern>
        <url-pattern>/countNumOfPage</url-pattern>
        <url-pattern>/loadQuestionByAdmin</url-pattern>
        <url-pattern>/deleteQuestion</url-pattern>
        <url-pattern>/restoreQuestion</url-pattern>
        <url-pattern>/searchQuestion</url-pattern>
        <url-pattern>/loadQuestionWithSearch</url-pattern>
        <url-pattern>/AddQuestion</url-pattern>
        <url-pattern>/loadDetailQuestion</url-pattern>
        <url-pattern>/saveUpdate</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DispatchFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <filter>
        <filter-name>DispatchFilter</filter-name>
        <filter-class>longnv.filter.DispatchFilter</filter-class>
    </filter>
    <filter>
        <filter-name>StudentFilter</filter-name>
        <filter-class>longnv.filter.StudentFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>longnv.filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>longnv.filter.AuthenFilter</filter-class>
    </filter>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
</web-app>
